<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sing-up</title>
</head>
<body>
    <h1>singup</h1>
    <form action="/signup" method="post">
        <input type="text" name="fullname" placeholder="fullname">
        <input type="email" name="email" placeholder="namit@example.com">
        <input type="number" name="age" placeholder="age" >
        <input type="password" name="password" placeholder="namitex345">
        <button type="submit" placeholder="button">click me</button>
    </form>
</body>
</html>